/.cache/
/.extension/
/auto-save-list/
/eln-cache/
/elpa/
/games/
/transient/
/elpaca/
/lsp-cache/
/intelephense/
/tree-sitter/
/var/
/etc/
history
places
projectile-bookmarks.eld
projects
recentf
tramp
.projectile
list-packages
custom.el
local.el
.DS_Store
**/\#*\#
.lsp-session
*~
forge-database.sqlite
elpaca-last-update.txt
