/.cache/
/.extension/
/auto-save-list/
/eln-cache/
/elpa/
/games/
/transient/
/elpaca/
/straight/
/tree-fold/
/combobulate/
/lsp-cache/
/intelephense/
/tree-sitter/
/var/
.perspectives
history
places
projectile-bookmarks.eld
projects
recentf
tramp
straight
.projectile
list-packages
custom.el
.DS_STORE
**/\#*\#
.dap-breakpoints
.lsp-session
*~
forge-database.sqlite
elpaca-last-update.txt
